.heading{
    font-size: 35px;
    width: 100%;
    margin: 0px;
}
.subline{
    font-size: 20px;
    color: wheat;
    background-color: brown;
}

canvas{
    margin-top: 150px;
    border: 2px solid gray;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
}

body{
    background: linear-gradient(to bottom right ,red 0%, yellow 50%, orange 100%);
}

.start{
    font-size: 20px;
}

.Dstatus{
    font-size: 25px;
}